# Auto detect text files and perform LF normalization
* text=auto

# Video files - if they get large, consider Git LFS
*.mp4 binary
*.mov binary
*.avi binary

# Image files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text

# Font files
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

